body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#navigation {
  list-style-type: none;
  float: left;
}

ul#navigation li a {
  text-decoration: none;
}

div#content {
}
